.maximus_logo {
    position: absolute;
    margin-top: 50%;
}

.welcome.lower_text {
    font-family: 'FNormal';
    font-size: 2em;
    margin-top: 0.5em;
    text-align: right;
}

.welcome.upper_text {
    font-family: 'ALight';
    font-size: 1em;
    margin-top: 0.5em;
    text-align: right;
    line-height: 1;
}

img.dates.image {
    margin-top: -30%;
}

.dates.title {
    margin-top: 0.5em;
}

.author.bio.quote {
    position: relative;
}

.image-wrapper.author.portrait.image {
    position: absolute;
    top: 0px;
    left: 0px;
}

main {
    font-size: 85%;
}

.dates_wrapper {
    width: 50%;
}

img.marker_ico {
    width: 25px;
    object-fit: contain;
    margin-right: .5em;
}

img.border_decor {
    max-width: 85%;
}

.image-wrapper.author.portrait.image {
    display: flex;
    justify-content: end;
}

img.border_decor {
    max-width: 85%;
    margin-top: -15%;
}

.author.text-upper {
    padding-bottom: 25%;
}

.author.text-lower {
    position: relative;
}

.author.bio.quote {
    position: relative;
}

.image-wrapper.author.portrait {
    z-index: 2;
}

.image-wrapper.author.portrait.image {
    z-index: 0;
}

img.cast_portrait {
    width: 100px;
}

.cast.person.wrapper {
    display: flex;
    justify-content: space-between;
}

.cast.person.text {
    width: 100%;
}

.cast.person.title {
    font-family: 'ABold';
    font-size: 1.2em;
}

.cast.person.suptitle {
    font-size: 0.8em;
}

.cast.upper.title {
    font-size: 1.3em;
    margin-top: 0.5em;
}

img.welcome_pair {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.section.section-welcome {
    overflow: hidden;
}

.right.wrapper {
    background: white;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'FNormal';
}

.date {
    font-size: 1.2em;
    font-family: 'FNormal';
}

.welcome.title_block.wrapper {
    display: flex;
    justify-content: end;
    padding: 2em;
}

div {
    font-family: 'ALight';
}

.price {
    font-size: 0.8em;
    text-align: right;
}

.maximus_logo {
    max-width: 100%;
}

.image-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section.section-about {
    padding: 2em;
}

.welcome.overlay.wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.welcome.quote {
    text-align: center;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'ABold';
}

.maximus_logo_big {
    margin-top: 30%;
}

.ticket.wrapper {
    margin: 2em;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

.dates.image {
    mix-blend-mode: screen;
}

.dates_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.venue_wrapper {
    display: flex;
}

.dates_outer {
    display: flex;
}

.datemonth {
    font-family: 'FNormal';
}

.city_venue {
    font-size: 0.8em;
}

.dates.text.upper.wrapper {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.dates.title {
    margin-bottom: 1em;
    font-size: 1.6em;
    font-family: 'FNormal';
}

.dates.lower.subtitle {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.dates.suptitle {
    white-space: nowrap;
    font-size: 0.8em;
}

img.marker_ico {
    width: 50px;
}

img.\30 4_foreground {
    mix-blend-mode: screen;
}

.stage.upper.text.outer {
    padding: 2em;
    text-align: right;
}

.stage.lower.text.outer {
    padding: 2em;
    text-align: center;
}

.stage.lower.text.title {
    font-family: 'ABold';
    font-size: 1.6em;
    margin-top: 1em;
}

.stage.lower.text.suptitle {
    padding-top: 1em;
    font-size: 0.8em;
}

.stage.upper.text.title {
    font-family: 'FNormal';
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.stage.upper.text.subtitle {
    color: #fd2828;
    font-family: 'ABold';
    margin-top: 0.5em;
    font-size: 1.2em;
}

.stage.upper.text.suptitle {
    font-size: 0.9em;
}

.section.section-stage {
    margin-top: 2em;
    margin-bottom: 2em;
}

.stage.upper.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.venue_wrapper {
    margin-top: 0.5em;
}

.sectionfix {
    /* position: absolute; */
    max-width: 100%;
}

.section.section-cast {
    padding: 2em;
}

.section.section-features {
    margin: 2em;
    max-width: 100%;
    padding: 2em;
}

.features.middle {
    padding: 1em;
    text-align: center;
    font-size: 1.4em;
    white-space: nowrap;
    border: 1px solid white;
    font-family: 'FNormal';
    max-width: 100%;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.bg_fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url(/assets/images/bg.png);
    z-index: -1;
}

.item {
    font-size: 1.1em;
}

img.maximus_logo_small {
    max-width: 75%;
}

.author.text-upper {
    text-align: right;
    font-size: 0.9em;
    max-width: 100%;
    display: flex;
    padding: 2em;
    justify-content: end;
}

.inner {
    max-width: 75%;
}

.author.bio.quote {
    padding: 1em;
    font-size: 0.9em;
}

.author.text-lower {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img.maximus_logo_small {
    object-fit: contain;
}

.author.bio {
    margin-top: -50px;
}

.author.text-lower {
    padding-top: 8em;
    padding-bottom: 4em;
}

.author.text-upper {
    padding-top: 0px;
}

.cast.upper.text {
    text-align: center;
    margin-bottom: 2em;
}

.cast.upper.title {
    font-size: 1.6em;
    font-family: 'FNormal';
}

.cast.person.wrapper {
    display: flex;
    padding: 2em;
    gap: 1em;
}

.image-wrapper.cast.quad {
    width: 200px;
}

.section.section-author {
    padding: 2em;
}

.bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #fd2828;
    border-radius: 100px;
}

.features.column {
    border-left: 1px solid white;
    padding-left: 1em;
    width: 100%;
    max-width: 25%;
}

div#col_1 {
    max-height: 100%;
}

div#col_2 {
    max-height: 75%;
}

div#col_3 {
    max-height: 50%;
}

div#col_4 {
    max-height: 25%;
}

.dates.list.item {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.features.columns {
    min-height: 250px;
}

div#col_1,
div#col_2,
div#col_3,
div#col_4 {
    display: flex;
    flex-direction: column;
}

.features.columns {

}

.features.columns {
    display: flex;
    position: relative;
}

.features.column {
    font-size: 0.65em;
}

.bolder {
    font-family: 'ABold';
}

.features.middle {
    padding: 1em;
    text-align: center;
    font-size: 1.4em;
    white-space: nowrap;
    border: 1px solid white;
    font-family: 'FNormal';
    max-width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dates.lower.title {
    font-family: 'ABold';
    text-transform: uppercase;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.dates.subtitle {
    font-size: 0.8em;
}

.dates.section_outer {
    padding: 2em;
}

#gallery_block_1 {
    grid-area: 1 / 1 / 3 / 2;
}

#gallery_block_2 {
    grid-area: 1 / 2 / 2 / 4;
}

#gallery_block_3 {
    grid-area: 3 / 1 / 4 / 2;
}

#gallery_block_4 {
    grid-area: 2 / 2 / 4 / 3;
}

#gallery_block_5 {
    grid-area: 2 / 3 / 3 / 4;
}

#gallery_block_6 {
    grid-area: 3 / 3 / 4 / 4;
}

.right.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

video {
    object-fit: cover;
}

.gallery.wrapper {
    padding-top: 4em;
}

.image-wrapper.grid_block img {
    object-fit: cover;
}

img {
    max-width: 100%;
}

.gallery.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.venue {
    font-size: 0.8em;
}

.middle.wrapper {
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.left.wrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.city {
    font-family: 'ABold';
}

.welcome_foreground {
    margin-top: 4em;
}

div#col_1 {
    position: absolute;
    max-width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
}

div#col_2 {
    position: absolute;
    left: 15%;
    top: 25%;
    height: 100%;
    max-width: 75%;
}

div#col_3 {
    position: absolute;
    top: 50%;
    left: 30%;
    height: 100%;
    max-width: 50%;
}

div#col_4 {
    max-width: 40%;
    left: 45%;
    top: 75%;
    position: absolute;
    height: 100%;
}

.features.columns {
    display: flex;
    position: relative;
    height: 300px;
}

div#col_5 {
    position: absolute;
    max-width: 100%;
    bottom: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

div#col_6 {
    position: absolute;
    left: 15%;
    top: 0px;
    height: 75%;
    max-width: 75%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.section.section-features {
    margin: 2em;
}

div#col_7 {
    position: absolute;
    left: 30%;
    top: 0px;
    height: 50%;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.author.text-upper {
    padding-bottom: 25% !important;
}

.author.bio.quote {
    padding-left: 0px;
}



div#col_8 {
    position: absolute;
    left: 45%;
    top: 0px;
    height: 25%;
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

@media (min-width:900px){
    .page_main__GlU4n {
        max-width: 500px !important;
    }
}

body#body {
    background: url(/assets/images/bg_blurred.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div{
    color: white !important;
}

.right.wrapper {
    color: black !important;
}
